.wrapper {
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    background-color:white;
    border-style: solid;
    border-radius: 20px;
    border-color: #009688;
    border-width: 10px;
}

.container-1 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.container-2 {
    background-color: #b2dfdb;
    display: flex-box;
    flex-direction: row;
    align-items: center;
}

.container-3 {
    background-color: #80cbc4;
}

.container-4 {
    background-color: #4db6ac;
}

.container-5 {
    background-color: #26a69a;
    display: flex;
}

.column-1 {
    order:1;
    width: 33.33%;
    background-color: #a7ffeb;
    text-align: center;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.column-2 {
    order:2;
    width: 33.33%;
    background-color: #64ffda;
    text-align: center;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.column-3 {
    order:3;
    width: 33.33%;
    background-color: #1de9b6;
    text-align: center;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.container-6 {
    background-color: #009688;
}

#icon {
    order: 2;
}

.test {
    color:red;
}

.test2{
    color: blue;
}