.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color:white;
}

.container-1 {
    background-color: #e0f2f1;
}

.container-2 {
    background-color: #b2dfdb;
}

.container-3 {
    background-color: #80cbc4;
}

.container-4 {
    background-color: #4db6ac;
}

.container-5 {
    background-color: #26a69a;
    display: flex;
}

.column-1 {
    order:1;
    width: 33.33%;
    background-color: #a7ffeb;
    text-align: center;
    align-self: center;
}

.column-2 {
    order:2;
    width: 33.33%;
    background-color: #64ffda;
    text-align: center;
    align-self: center;
}

.column-3 {
    order:3;
    width: 33.33%;
    background-color: #1de9b6;
    text-align: center;
    align-self: center;
}

.container-6 {
    background-color: #009688;
}